<form action="/" method="get">
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Service</label>
        <div class="col-10">
            <select name="service" class="form-control">
                <option value="lli">LLI</option>
                <option value="ll">LL</option>
              <option value="pbx-isdn-g703">PBX - ISDN - G703</option>
              <option value="pbx-sip">PBX - SIP</option>
              <option value="pbx-isdn-bri">PBX - ISDN - BRI</option>
                <option value="ipvpn">IPVPN</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Location</label>
        <div class="col-10">
            <select name="distance" class="form-control">
              <option value="0">Budapest</option>
                {{#each places}}
                  <option value="{{distance}}">{{location}}</option>
                  {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group row  has-error  has-feedback">
    <label for="example-text-input" class="col-2 col-form-label">Speed (Mbps - enter 0 for PBX)</label>
    <div class="col-10">
        <input class="form-control" type="text" value="10" id="example-text-input" name="speed">
    </div>
</div>
    <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Max channels (PBX only)</label>
    <div class="col-10">
        <input class="form-control" type="text" value="30" id="example-text-input" name="channels">
    </div>
</div>

    <div style="text-align: right;" class="row">
    <input type="submit" class="btn btn-success" value="OK"></div>
</form>

<br><br><h1>Results:</h1>

<div class="container">
    <h2>CAPEX:</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Item</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Sum</th>
        </tr>
        </thead>
        <tbody>
        {{#each capex}}
          <tr>
            <td>{{name}}</td>
            <td>{{amount}}</td>
            <td>{{price}}</td>
            <td>{{sum}}</td>
          </tr>
        {{/each}}
        </tbody>
    </table>
    <div style="text-align: right">
        <h2>SUM CAPEX: {{sumc}} HUF</h2>
    </div>
</div>
<hr>
<div class="container">
    <h2>OPEX:</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Sum</th>
      </tr>
      </thead>
      <tbody>
      {{#each opex}}
        <tr>
          <td>{{name}}</td>
          <td>{{amount}}</td>
          <td>{{price}}</td>
          <td>{{sum}}</td>
        </tr>
      {{/each}}
      </tbody>

    </table>
    <div style="text-align: right">
        <h2>SUM OPEX: {{sumo}} HUF</h2>
    </div>
</div>
