<form action="/" method="get">
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Service</label>
        <div class="col-10">
            <select name="service" class="form-control">
                <option value="volvo">LLI</option>
                <option value="saab">LL</option>
                <option value="opel">PBX</option>
                <option value="audi">IPVPN</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Location</label>
        <div class="col-10">
            <select name="location" class="form-control">
                <option value="volvo">Budapest</option>
                <option value="saab">Debrecen</option>
                <option value="opel">Bugyi</option>
                <option value="audi">Győr</option>
            </select>
        </div>
    </div>
    <div class="form-group row  has-error  has-feedback">
    <label for="example-text-input" class="col-2 col-form-label">Speed (Mbps)</label>
    <div class="col-10">
        <input class="form-control" type="text" value="10" id="example-text-input" name="speed">
    </div>
</div>
    <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Duration (years)</label>
    <div class="col-10">
        <input class="form-control" type="text" value="3" id="example-text-input" name="duration">
    </div>
</div>
    <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Uptime</label>
    <div class="col-10">
        <select name="uptime" class="form-control">
            <option value="volvo">99.5%</option>
            <option value="saab">99.8%</option>
            <option value="opel">99.9%</option>
        </select>
    </div>
</div>
    <div style="text-align: right;" class="row">
    <input type="submit" class="btn btn-success" value="OK"></div>
</form>

<form action="/action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="Mickey"><br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse"><br><br>
  <input type="submit" value="Submit">
</form>

<br><br><h1>Results:</h1>

<div class="container">
    <h2>CAPEX:</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Sum</th>
        </tr>
        </thead>
        <tbody>
        {{#each capex}}
          <tr>
            <td></td>
            <td>{{item}}</td>
            <td>1</td>
            <td>{{price}}</td>
            <td>600000</td>
          </tr>
        {{/each}}
        </tbody>
    </table>
    <div style="text-align: right">
        <h2>SUM CAPEX: {{sumc}} HUF</h2>
    </div>
</div>
<hr>
<div class="container">
    <h2>OPEX:</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Sum</th>
        </tr>
        </thead>
        <tbody>
        {{#each opex}}
          <tr>
            <td></td>
            <td>{{item}}</td>
            <td>1</td>
            <td>{{price}}</td>
            <td>600000</td>
          </tr>
        {{/each}}
        </tbody>

    </table>
    <div style="text-align: right">
        <h2>SUM OPEX: {{sumo}} HUF</h2>
    </div>
</div>
